# Docker
logs/
plugins/
.env
postgres-db-volume/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# dbt
dbt/logs/
dbt/target/
dbt/dbt_packages/
dbt/.user.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
